.border {
    border: 1px solid #000000;
}


.cf {
}

    .cf .columns {
        padding-left: 1%;
        padding-right: 1%;
    }

    .cf .panel {
        border-style: solid;
        border-width: 1px;
        border-color: #d9d9d9;
        margin-bottom: 0;
        padding: 1%;
        background: #f2f2f2;
        min-height: 250px;
    }
    .cf.course .panel {
        min-height: 250px;
    }
    .cf.friend .panel {
        min-height: 150px;
    }

    .cf p {
        margin: 0;
        padding: 0;
        font-family: inherit;
        font-weight: normal;
        font-size: 1em;
        line-height: 1.3;
        margin-bottom: 0;
        text-rendering: optimizeLegibility;
    }

    .cf .linkto {
        position: absolute;
        right: 5%;
        bottom: 0%;
    }

    .cf .linkto2 {
        position: absolute;
        left: 0%;
        bottom: 0%;
    }

    .cf a.button {
        margin: 0;
    }

    .cf .row .row {
        margin-left: auto;
        margin-right: auto;
    }


.header {
    position: fixed;
    width: 100%;
    background-color: #777;
    z-index: 1;
    top: 0;
}

#body {
    margin-top: 200px;
}

.profile {
    background-color: #fff;
}

    .profile .content-wrapper {
        background-color: #FFFFFF;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, rgba(228, 16, 236, 0.22) 0%, rgba(25, 159, 209, 0.84) 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 10px;
    }


div.toggler {
  background: url(../Images/toggler.jpg) no-repeat left top;
  height: 35px;
  cursor: pointer;
}

div.toggler.on {
  background: url(../Images/toggler.jpg) no-repeat left -35px;
  height: 35px;
  cursor: pointer;
}