@if (Request.IsAuthenticated) {
    <div id="logoffClicks" class="topLeftContainer" style="color:#FFF">
        @Html.ActionLink("Main", "CourseList", "Home", routeValues: null, htmlAttributes: new { @class = "button" })
        @Html.ActionLink("Manage", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username button", title = "Manage" })
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" class="button">Log off</a>
        }
    </div>
} else {
    <div class="topLeftContainer">
            @*@Html.ActionLink("Register", "Register#RegisterForm2", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@
            <a href="/Account/Register#RegisterForm2" id="registerLink" class="button">Register</a>

        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "button" })
    </div>
    
}
